@import "./settings.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:global(html, body) {
  height: 100vh;
  width: 100vw;
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
